<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule"
           scriptProcessor="%HOME%\Python311\python.exe|%HOME%\Python311\Scripts\wfastcgi.py"
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="wfastcgi.py" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <add key="PYTHONPATH" value="D:\home\site\wwwroot" />
    <add key="WSGI_HANDLER" value="app:app" />
    <add key="WSGI_LOG" value="D:\home\LogFiles\python.log" />
  </appSettings>
</configuration>
